1. Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [ ]:
nums = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]

Среднее арифметическое:

In [ ]:
mean_salary = sum(nums) / len(nums)
mean_salary

65.3

cреднее квадратичное отклонение:

In [ ]:
import numpy as np
mean_salary = 65.3
sum_num = 0
for num in nums:
  sum_num+= (num - mean_salary)**2
salary_std = np.sqrt(sum_num/len(nums))
print(salary_std)

30.823854398825596

несмещенная оценка дисперсии:

In [ ]:
mean_salary = 65.3
n=len(nums)-1
sum_num = 0
for num in nums:
  sum_num+= (num - mean_salary)**2
print(sum_num/n)

1000.1157894736842

смещенная оценка дисперсии:

In [ ]:
mean_salary = 65.3
n=len(nums)
sum_num = 0
for num in nums:
  sum_num+= (num - mean_salary)**2
print(sum_num/n)

950.11

2. В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

Три белых мяча можно вытащить тремя способами: два из первого и один из второго; один из первого и два из второго; все три только из второго.

Обозначения: б - белый, д - другой.
Первый способ (
  бббддд;
  ббдбдд;
  ббддбд;
  ббдддб):

In [15]:
combinations(5,2)/combinations(8,2)*(combinations(5,1)*combinations(7,3)/combinations(12,4))

0.12626262626262627

In [ ]:
5/8*4/7*5/12*7/11*6/10*5/9 + 5/8*4/7*7/12*5/11*6/10*5/9 + 5/8*4/7*7/12*6/11*5/10*5/9 + 5/8*4/7*7/12*6/11*5/10*5/9

0.12626262626262624

Второй способ (только через комбинаторику, т.к. удобнее):

In [16]:
(combinations(5,1)*combinations(3,1)/combinations(8,2))*(combinations(5,2)*combinations(7,2)/combinations(12,4))

0.22727272727272727

Третий способ:

In [17]:
combinations(3,2)/combinations(8,2)*(combinations(5,3)*combinations(7,1)/combinations(12,4))

0.01515151515151515

Итоговая сероятность как сумма всех трех:

In [18]:
0.015+0.227+0.126

0.368

3. На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

a)

In [19]:
0.9*1/3/(0.9*1/3 + 0.8*1/3 + 0.6*1/3)

0.391304347826087

b)

In [20]:
0.8*1/3/(0.9*1/3 + 0.8*1/3 + 0.6*1/3)

0.3478260869565218

c)

In [21]:
0.6*1/3/(0.9*1/3 + 0.8*1/3 + 0.6*1/3)

0.2608695652173913

4. В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

B = A
C = A + B = A + A = 2A
A + B + C = 4A

a)

In [22]:
0.8*0.25/(0.8*0.25 + 0.7*0.25 + 0.9*0.5)

0.24242424242424246

b)

In [23]:
0.7*0.25/(0.8*0.25 + 0.7*0.25 + 0.9*0.5)

0.21212121212121213

c)

In [24]:
0.9*0.5/(0.8*0.25 + 0.7*0.25 + 0.9*0.5)

0.5454545454545455

5. Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

a)

In [25]:
0.1*0.2*0.25

0.005000000000000001

b)

In [26]:
0.1*0.2*(1-0.25) + 0.1*0.25*(1-0.2) + 0.2*0.25*(1-0.1)

0.08000000000000002

c)

In [27]:
1-(1-0.1)*(1-0.2)*(1-0.25)

0.45999999999999996

d)
d) == c) - a)

In [28]:
0.45999999999999996-0.005000000000000001

0.45499999999999996